{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
  <meta name="msapplication-TileColor" content="#000">
  <meta name="theme-color" content="#ffffff">
  <style> 
    .form-group label {
      margin-bottom: 5px;
    }
    
    .form-control {
      margin-bottom: 15px; /* Добавляет отступ снизу для элементов .form-control */
    }
  </style>